@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "FraktionSans";
    src: url(https://pinata.clinamenic.com/ipfs/QmNtF2xhcv5d4YuBiDVhNBuSiNcqzFVvyVDg8APvHeMSfr);
    src: url(https://pinata.clinamenic.com/ipfs/QmNtF2xhcv5d4YuBiDVhNBuSiNcqzFVvyVDg8APvHeMSfr) format("opentype");
    font-weight: 100;
}
/* Fraktion Sans Regular */
@font-face {
    font-family: "FraktionSans";
    src: url(https://pinata.clinamenic.com/ipfs/QmNpYQNchYaYE9pQUXmUa1ZyFRLPP853FzXMQ8LHtHPnpX);
    src: url(https://pinata.clinamenic.com/ipfs/QmNpYQNchYaYE9pQUXmUa1ZyFRLPP853FzXMQ8LHtHPnpX) format("woff");
    font-weight: 200;
}
/* Fraktion Sans Bold */
@font-face {
    font-family: "FraktionSans";
    src: url(https://pinata.clinamenic.com/ipfs/QmS8T6pEP8U8iQZYi8pXYGTUvJEeLW2Xav4pTztuKh5cEW);
    src: url(https://pinata.clinamenic.com/ipfs/QmS8T6pEP8U8iQZYi8pXYGTUvJEeLW2Xav4pTztuKh5cEW) format("woff");
    font-weight: 300;
}

/* Roboto Mono Family */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
